@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-800 text-yellow-50 text-xl;
	font-family: "Montserrat", sans-serif;
}

/* Fonts */

a {
	@apply text-cyan-500;
}

a:hover {
	@apply underline underline-offset-8;
}

/* Inputs */

input {
	@apply rounded bg-gray-500 p-3 my-2;
}

input:focus {
	@apply outline-none text-yellow-50 shadow-inner shadow-gray-700;
}

/* Buttons */

button {
	@apply rounded p-2 my-2 transition-all duration-300;
}

button:hover {
	@apply shadow-xl;
}

button:disabled:hover {
	@apply shadow-none cursor-not-allowed;
}

button:active {
	@apply shadow-inner;
}

button.btn-primary {
	@apply bg-fuchsia-500;
}

button.btn-primary:disabled {
	@apply bg-fuchsia-500/50;
}

button.btn-primary:hover {
	@apply shadow-fuchsia-600/20;
}

button.btn-primary:active {
	@apply shadow-fuchsia-900;
}

button.btn-secondary {
	@apply bg-orange-200 text-gray-800;
}

button.btn-secondary:disabled {
	@apply bg-orange-200/50;
}

button.btn-secondary:hover {
	@apply shadow-orange-800/20;
}

button.btn-secondary:active {
	@apply shadow-orange-800;
}

button.btn-outline {
	@apply bg-transparent font-semibold border-2 p-1.5;
}

button.btn-primary.btn-outline {
	@apply border-fuchsia-500 text-fuchsia-500;
}

button.btn-primary.btn-outline:disabled {
	@apply bg-transparent border-fuchsia-500/50 text-fuchsia-500/50;
}

button.btn-primary.btn-outline:active {
	@apply shadow-fuchsia-600/50;
}

button.btn-secondary.btn-outline {
	@apply border-orange-200 text-orange-200;
}

button.btn-secondary.btn-outline:disabled {
	@apply bg-transparent border-orange-200/50 text-orange-200/50;
}

button.btn-secondary.btn-outline:active {
	@apply shadow-orange-600/50;
}